- if logged_in?
  .header_content=link_to "勤怠カレンダー", work_times_path, class: "header_fonts"
  .header_content=link_to "#{current_user.name}", user_path(current_user), class: "header_fonts"
  - if current_user.admin?
    .header_content=link_to "全スタッフ管理", users_path, class: "header_fonts"
    .header_content=link_to "備品管理（工事中）", "", class: "header_fonts"

  .header_content=link_to "ログアウト", logout_path, method: "delete", class: "header_fonts"
- else
  .header_content=link_to "ログイン", login_path, class: "header_fonts"
