- if logged_in?
  .navbar.navbar-inverse
    .container-fluid
      .collapse.navbar-collapse
        .navbar-header
          .logo_title
            IJGN 管理システム
        %ul.nav.navbar-nav
          %li=link_to "勤怠カレンダー", user_work_times_path(current_user), class: "header_fonts"
          %li=link_to "#{current_user.name}", user_path(current_user), class: "header_fonts"
          - if current_user.admin?
            %li=link_to "全スタッフ管理", users_path, class: "header_fonts"
            %li=link_to "備品管理（工事中）", "", class: "header_fonts"
          %li=link_to "ログアウト", logout_path, method: "delete", class: "header_fonts"
- else
  .header_content=link_to "ログイン", login_path, class: "header_fonts"
